<form action="/testing" method="post" enctype="application/x-www-form-urlencoded" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <h3>Configuration:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="test-name">Test name:</label>
            <input id="test-name" type="text" class="form-control" placeholder="Insert test name" name="testName"
                required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Sender:</h3>
            <div class="form-group">
                <label for="sender-name">Sender name:</label>
                <input id="sender-name" type="text" class="form-control" placeholder="Insert sender name"
                    name="senderName" required>
            </div>
            <div class="form-group">
                <label for="ip-address">IP Address:</label>
                <input id="ip-address" type="text" class="form-control" placeholder="Insert sender ip address"
                    name="senderIpAddress" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$">
            </div>
            <div class="form-group">
                <label for="port">Port:</label>
                <input type="number" class="form-control" placeholder="Insert receiver port" name="senderPort" min="1"
                    max="65535" required>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Reciver/s:</h3>
            <div id="append-section">

            </div>
            <div>
                <input class="btn btn-primary float-right" type="button" value="+" title="add receiver"
                    id="add-receiver">
                <input class="btn btn-danger float-right" type="button" value="-" title="remove receiver"
                    id="remove-receiver">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-primary " type="submit" value="Start testing" title="Start testing">
        </div>
    </div>
</form>

<div id="receiver-template" style="display: none">
    <div id="receiver_{N}">
        <div class="form-group">
            <label for="receiver-name_{N}">{N} - Receiver name:</label>
            <input id="receiver-name_{N}" type="text" class="form-control" placeholder="Insert receiver name"
                name="receiverName[{N}]" required>
        </div>
        <div class="form-group">
            <label for="receiver-port_{N}">{N} - Port:</label>
            <input id="receiver-port_{N}" type="number" class="form-control" placeholder="Insert receiver port"
                name="receiverPort[{N}]" min="1" max="65536" required>
        </div>
        <hr>
    </div>
</div>

<script type="text/javascript">

    receiverCounter = 0;

    $("#add-receiver").click(function () {
        receiverCounter++;
        var str = document.getElementById("receiver-template").innerHTML;
        var res = str.replace(/{N}/g, receiverCounter);
        $("#append-section").append(res);
    });

    $("#remove-receiver").click(function () {
        if (receiverCounter > 1) {
            $("#receiver_" + receiverCounter).remove();
            receiverCounter--;
        }
        else {
            alert("Operation not permitted!");
        }

    });

    $("#add-receiver").click();

</script>